.create-page{
    background-color: $secondary;

    --content-margin: 5rem;
    --content-padding: 3rem;

    border-radius: 1rem;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);

    .content-main{
        margin: var(--content-margin);
        background-color: $tertiary;
    }

    .back-button{
        a{
            color: $banner-txt-color;
        }
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 1200px) {
        --content-margin: 2rem;
        --content-padding: 0.5rem;
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        --content-margin: 0rem;
        --content-padding: 0.5rem;
    }
    
}