.app_banner{
    padding:5rem;
    background-color: $banner-bg-color;

    h1{
        float: left;
        color: $banner-txt-color;
    }

    .create-button{
        float: right;
        a{
            color: $banner-txt-color;
        }
    }
}

.app_container{
    display: grid;
    grid-template-columns: 5rem auto 5rem;
}

.app_sidebar{
    padding: 2.5rem;
    background-color: $sidebar-bg-color;
}

.app_content{

    --image-margin: 0.5rem;

    border-radius: 1rem;
    padding: 5rem;
    background-color: $content-bg-color;

    h1{
        margin:3rem;
        font-size: 3rem;
        color: $content-txt-color;
    }

    p{
        margin:3rem;
        font-size: 1.5rem;
        color: $content-txt-color;
    }

    .content_row{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .content_column{
        flex: 100%;
        max-width: 100%;
        padding: 0 var(--image-margin);

        img{
            margin-top: var(--image-margin);
            margin-bottom: var(--image-margin);
            vertical-align: middle;
            width: 100%;
            transition: transform $transform-time;
        }

        img:hover{
            transform: scale($image-zoom); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            filter:brightness($image-brighten);
        }
    }

    .content_column_2{
        flex: 50%;
        max-width: 50%;
        padding: 0 var(--image-margin);

        img{
            margin-top: var(--image-margin);
            margin-bottom: var(--image-margin);
            vertical-align: middle;
            width: 100%;
            transition: transform $transform-time;
        }

        img:hover{
            z-index: -1;
            transform: scale($image-zoom); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            filter:brightness($image-brighten);
        }
    }

    .content_column_3{
        flex: 33%;
        max-width: 33%;
        padding: 0 var(--image-margin);

        img{
            margin-top: var(--image-margin);
            margin-bottom: var(--image-margin);
            vertical-align: middle;
            width: 100%;
            transition: transform $transform-time;
        }

        img:hover{
            transform: scale($image-zoom); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            filter:brightness($image-brighten);
        }
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .content_column_2, .content_column_3{
        flex: 50%;
        max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .content_column_2, .content_column_3{
        flex: 100%;
        max-width: 100%;
        }
    }

}