// Body
$body-bg: #5272b8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Environment Specific Colors
$body-bg: #2b1fd6;
$banner-bg-color: #2b1fd6;
$banner-txt-color: #849499;
$content-bg-color: #2b1fd6;
$content-txt-color: #849499;
$sidebar-bg-color: #2b1fd6;
$sidebar-txt-color: #849499;