// Body
$body-bg: #5272b8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000000;
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Color Scheme
$primary:#D51243;
$secondary: #F59A9A;
$tertiary: #F0DCD3;
$text: #312E34;

// Environment Specific Colors
$body-bg: $secondary;
$banner-bg-color: $secondary;
$banner-txt-color: $white;
$content-bg-color: $tertiary;
$content-txt-color: $text;
$sidebar-bg-color: $secondary;
$sidebar-txt-color: $text;
$login-bg: $primary;

// Featueres
$image-zoom: 1.05;
$transform-time: .2s;
$image-brighten: 1.4;